<!doctype html>
<head>
  <title>Brendan Weibel's Weight</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
  <body>
    <main>
      <div class="px-4 py-3 my-2 text-center">
        <h1 class="display-6 fw-bold text-primary">Weight Tracker</h1>
      </div>
      <div class="col-md-6 mx-auto text-center">
	{% for username in usernames %}
	<a href={{ url_for('weights', username=username) }}>{{ username }}</p>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
